  {% raw %}
{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
	{% assets "css_all" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
        <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
        <style>
        body {
            padding: 0;
        }
        </style>
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body class='hold-transition skin-yellow sidebar-mini'>
    {% block page_body %}
    <header class='main-header'>
	    <a href="{{ url_for('admin.index')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>{% endraw %}{{cookiecutter.app_name[0:2] | upper }}</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>{{cookiecutter.app_name | upper }}{% raw %}</b></span>
    </a>

      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

	<a href='#' class='sidebar-toggle' data-toggle='push-menu' role='button'>
		<span class='sr-only'>{{ _('Toggle Navigation') }}</span>
	</a>

        <!-- navbar content -->
        <div class="navbar-custom-menu" id="admin-navbar-collapse">

          {% block menu_links %}
          <ul class="nav navbar-nav navbar-right">
            {{ layout.menu_links() }}
            <li class='dropdown user user-menu'>

		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    <img src="{% if current_user.avatar_path %}{{ url_for('static',filename='upload/user/' + current_user.avatar_path) }}{% else %}{{ url_for('static',filename='images/avatar.png') }}{% endif %}" class="user-image" alt="User Image">
	      <span class="hidden-xs">{{ current_user.name }}
		      ROLE
          </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
		      <img src="{% if current_user.avatar_path %}{{ url_for('static',filename='upload/user/' + current_user.avatar_path) }}{% else %}{{ url_for('static',filename='images/avatar.png') }}{% endif %}" class="img-circle" alt="User Image">

                <p>
		{{ current_user.name }}
		<small>POSITION</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
			<a href="{{ url_for('useradmin.details_view') }}" class="btn btn-default btn-flat">{{ _('Profile') }}</a>
                </div>
                <div class="pull-right">
			<a href="{{ url_for('public.logout') }}" class="btn btn-default btn-flat">{{ _('Sign out') }}</a>
                </div>
              </li>
            </ul>
	    </li><!-- end of li for user-menu -->

	    <li>
		    &nbsp;
	    </li>

          </ul>
          {% endblock %}
          {% block access_control %}
          {% endblock %}
        </div>
        <!-- navbar content -->

      </nav>

      {% block header %}{% endblock %}

    </header>
    <aside class="main-sidebar">
	    <section class="sidebar">
		<ul id='side-menu' class='sidebar-menu' data-widget='tree'>
		    {{ layout.sidemenu() }}
		</ul>
	    </section>
    </aside>

      <div id='page-wrapper' class='content-wrapper' style='min-height: 1068px'>


	      <section class="content">

      {% block messages %}
      {{ layout.messages() }}
      {% endblock %}

      {# store the jinja2 context for form_rules rendering logic #}
      {% set render_ctx = h.resolve_ctx() %}

      {% block body %}{% endblock %}

	      </section>
      </div>
      <!-- end page-wrapper -->

{% include "footer.html" %}
    {% endblock %}

    {% block tail_js %}

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.9.0') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}" type="text/javascript"></script>

    {% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>
{% endraw %}
